@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Nunito", sans-serif;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.btn {
    cursor: pointer;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
